:root {
  --primary-color: black;
  --secondary-color: white;
  --box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 15px;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: -10px;
}

h2 {
  font-size: 24px;
  text-transform: capitalize;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0 80px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -10px;
}

h4 {
  text-align: center;
  font-weight: bold;
  margin-top: -15px;
}

img {
  height: auto;
  width: 500px;
}

p {
  font-size: 16px;
  font-weight: normal;
  margin-top: 40px;
  padding-left: 260px;
  padding-right: 260px;
  text-align: center;
}

.hero {
  text-align: center;
}

.navbar-dark {
  background-color: var(--primary-color);
}

.nav-link.active {
  color: red !important;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

.nav-link {
  color: var(--secondary-color) !important;
}

.nav-link:hover {
  color: turquoise !important;
  font-weight: bold;
}

.navbar-brand {
  padding-right: 10px;
  padding-left: 10px;
}
.navigation-link {
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
}

.about-me {
  margin-top: 20px;
  margin-bottom: 15px;
}

.about-link,
.portfolio-link,
.contact-link {
  border: 2px solid var(--secondary-color);
  border-radius: 40px;
  padding: 15px 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
  transition: all 100ms ease-in-out;
}

.navigation-link a:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: white;
}

.content-container {
  text-align: center;
}

.content-container p {
  font-size: 20px;
  padding: 25px 5px;
  line-height: 1.5;
  text-align: justify;
}

.card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.card img {
  width: 150px;
  margin: 15px auto;
}

.card-body p {
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: -15px;
  line-height: normal;
  text-align: justify;
}

.mp-link a,
.tmb-link a,
.fed-link a {
  margin-top: -20px;
  text-decoration: none;
  font-weight: bold;
}

.mp-link a:hover,
.tmb-link a:hover,
.fed-link a:hover {
  color: var(--secondary-color);
}

.mp-link a {
  color: red;
}

.tmb-link a {
  color: orange;
}

.fed-link a {
  color: turquoise;
}

.events-link,
.prod-link,
.docu-link,
.digitalmarketing-link,
.design-link,
.personal-app,
.weather-app,
.portfolio-app {
  text-decoration: none;
  font-weight: bold;
}

.connect {
  margin-top: 20px;
}

.network img {
  height: auto;
  width: 800px;
}

i.fa-brands,
i.fa {
  font-family: fontawesome !important;
  font-style: normal;
}

.network-links i {
  font-size: 40px;
  margin: 0px 20px;
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 40px;
  text-decoration: none;
  background-image: none;
  border: 2px solid var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.network-links i:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

footer p {
  margin-top: 5px;
  font-size: 12px;
}

@media (max-width: 576px) {
  body {
    padding: 60px 20px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 35px;
    margin-left: 35px;
  }

  p {
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .content-container p {
    font-size: 16px;
    padding: 16px 24px;
  }

  .card {
    margin-right: 40px;
    margin-left: 40px;
  }

  .network img {
    height: auto;
    width: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contact p {
    margin-right: 30px;
    margin-left: 30px;
  }
}
